*{
    font-size:1.1rem;
}

body{
    text-align:center;
    background-color: papayawhip;
}
h2{
    font-size:2.5rem;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

textarea{
    width:60%;
}

aside{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top:5px solid grey;
}

 .allTasks{
    margin:0.8rem 0;
    max-width:50%;
    background-color: white;
    padding:0.3rem;
    border-radius:8px;
} 
.allTasks pre,span{
    padding:0 0.8rem;
}
.checkBtn {
    background-color: green;
}
.check{
    text-decoration: line-through;
}
.delBtn {
    background-color: red;
}

.fa-trash, .fa-check{
    pointer-events:none;
}
